<a href="https://colab.research.google.com/github/chethanamuppalla/Decision-Tree/blob/main/Decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("/content/decision_tree.csv")
data

  size   shape  color  choice
0    M   Brick   Blue       1
1    S   Wedge    Red       0
2    L   Wedge    Red       0
3    S  Sphere    Red       1
4    L  Pillar  Green       1
5    L  Pillar    Red       0
6    L  Sphere  Green       1

In [ ]:
from sklearn import preprocessing
#creating labelEncoder
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
color_encoded=pd.DataFrame(le.fit_transform(data['color']))
size_encoded=pd.DataFrame(le.fit_transform(data['size']))
shape_encoded=pd.DataFrame(le.fit_transform(data['shape']))
#label=pd.DataFrame(le.fit_transform(data['choice']))

In [ ]:
X_train=pd.concat([size_encoded,shape_encoded,color_encoded],axis=1)
y_train=data['choice']
X_train

   0  0  0
0  1  0  0
1  2  3  2
2  0  3  2
3  2  2  2
4  0  1  1
5  0  1  2
6  0  2  1

In [ ]:
from sklearn import tree

In [ ]:
# Create Decision Tree classifer object
clf =tree.DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict([[1,1,2]]) # 1:M  1:Pillar 2:red

In [ ]:
y_pred  # 0:no

array([0])